<div class="container">
    <div class="card col-4 mx-auto shadow mt-5">
        
        <div class="card-body ">
            <div class="p-2 text-dark text-center"><h3>Login</h3></div>
            <form #ref="ngForm" (ngSubmit)="login(ref.value)">
                <div class="form-group">
                    <label for="mail">Email</label>
                    <input type="email" id="mail" name="email" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" id="pwd" name="password" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary form-control">Login</button>
                </div>
                <div>
                    <a href="" routerLink="forgotpassword">Forgot Password?</a>
                </div>
            </form>
        </div>
     
        <div class="card-footer">
             <div class="form-group">
            <button class="btn btn-outline-primary bg-muted form-control" (click)="RegisterPage()">Register</button>
        </div>
    </div>
    </div>
</div>
    

<!-- <button (click)="run()">toaster</button> -->