<p>passwordchange works hi !</p>
<div class="container mt-5">
<div class="card col-md-4 mx-auto" *ngIf="status">
    <form  #ref="ngForm"  (ngSubmit)="changepwd(ref.value)">
        <div class="form-group text-center">
            <label for="">Enter New Password</label>
            <input type="text" name="password"  [(ngModel)]="password" class="form-control" ngModel>
        </div>
        <!-- <div class="form-group">
            <label for="">Re-type your password</label>
            <input type="text" name="password" [(ngModel)]="Retyped_password" ngModel>
        </div> -->
        <div class="text-center form-group">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
        </form>
</div>
</div>

<div class= *ngIf="!status">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <img src="../../assets/success.gif" alt="">
            <div>
                <h1>password Changed Succesfully..!</h1>
                <p>Go back to Login page</p>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

