<!-- <p>forgotpassword works!</p> -->


<div class="container">
    <div class="card col-md-4 mx-auto shadow" style="margin-top: 150px;" >
        <form  #ref="ngForm"  (ngSubmit)="emailVerify(ref.value);ref.reset()">
            <div class="form-group text-center mt-3">
                <label for="x">Enter your registered mail</label>
                <input type="text" id="x" name="email" ngModel class="form-control">
            </div>
            <div class="text-center form-group">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
            </form>
    </div>   
</div>






